<h2> Add New List </h2>
<form>
	<input type="hidden" name="list[board_id]" value="<%= board.id %>">

	<input type="hidden" name="list[rank]" value="<%= board.lists().length %>">

	<label>
		Title
		<input id="list-title" type="text" name="list[title]">
	</label>
	<button class="list-new">>Submit</button>
</form>