
<div class="make-new-list">
<h4> Add New List </h4>

<form id="new-list-form">
  <label for="list-title">
    Title
    <input type="text" name="list[title]" id="list-title">
  </label>

  <button class="newList">Add List</button>
</form>

</div>