

<h1> <%= board.get("title") %> </h1>

<div class="list-conts">
<div class="show-lists"></div>
<div class="list-new"></div>
</div>
<br>


<div class="controls">
	<h2> Controls </h2>
	<div class="board-member"> 
		<h3> Board Members </h3>
		<form>
			<label>New Member
				<input id="members-only" type="text" name="newMemberEmail[email]">
				</label>
			<button class="member-new">Add Member</button>
		</form>
	</div>

	<h4>Delete</h4>
	<br>
	<button class="remove-board">Remove Board</button>
	<br>

	<a href="#">Back to Index</a>
</div>

