<h1> All Your Boards </h1>


<ul>
<% boards.each(function(board) { %>
	<li> <a href="#/boards/<%= board.escape("id") %>"> 
		<%= board.escape("title") %> </a> </li>
<% }); %>
</ul>




<a href="#/boards/new">Create Board</a>