<h1> Make Your New Board </h1>

<form>
<label for="board_title">Title</label>
<input type="text" name="board[title]"
	value="<%= board.get("title")%>" id="board_title" >

<input type="submit">
</form>

<a href="#/">Back to Index</a>