<form>
	<input type="hidden" name="card[rank]" value="<%= list.cards().length %>">
	<input type="hidden" name="card[list_id]" value="<%= list.id %>">
	<input id="card-title" type="text" name="card[title]" placeholder="Title">

	<button class="card-new btn btn-success btn-small">>add card</button>
</form>