<form>
	<input type="hidden" name="card[rank]" value="<%= list.cards().length %>">
	<input type="hidden" name="card[list_id]" value="<%= list.id %>">
	<label>
		Title
		<input id="card-title" type="text" name="card[title]">
	</label>
	<button class="card-new">>add card</button>
</form>