<h4>card++</h4>

<form id="new-card-form">
  <label for="card-title">
    Title <br>
    <input type="text" name="card[title]" id="card-title">
  </label>
  
  <label for="card-description">
    Description <br>
    <input type="text" name="card[description]" id="card-description">
  </label>

  <input type="submit" value="Add Card">
</form>
<button class="add-a-card btn btn-primary">New Card</button>

