/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require font-awesome
 *= require_tree .
 */

body {
  margin: 0;
  box-sizing: border-box;
  padding: 8px;
  background-color: white !important;
}

.board-title {
 
  font-weight: 700;
  font-size: 42px;
  position: relative;
  color: #434446 !important;
  padding-bottom: 25px;
}

.boards-index-title {

  font-weight: 700;
  font-size: 32px;
  position: relative;
  color: #434446 !important;
}

span.title a {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  position: relative;
  color: #59467C !important;
  
}

.list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  position: relative;
  color: #434446 !important;
 
}

.navbar-inner {
  background-image: none !important;
  background-color: #ADD8E6 !important;
  height: 60px;
}

input#logout, input#logout{
  background-color: #6CC7B8;
}

div#content {
  margin:0px auto;
  width: auto;
  
  padding: 10px;
  margin-bottom: 10px;
  
}

.white_area {
  overflow: scroll;
  background-color: #a59d9d;
  border: 1px dashed #736d6d;
  border-radius: 4px;
  moz-border-radius: 4px;
  padding: 30px;
}

div.board_members {
  margin-left: 22px;
}

button.newList {
  margin: 10px 0;
}

button#deleteBoard {
  margin: 10px 22px;
}

a {
  text-decoration: none !important;
  font-weight: 600;
  color: #434446 !important;
}

ul {
  list-style-type: none !important;
  padding-left: 0;
  margin: 0;
}

li {
  padding-top: 2px;
  padding-left: 0;
}

.hidden {
	display: none;
}

input[type="text"], input[type="password"] {
  width: inherit;
  background-color: #f2efe6 !important;
}

button, input[type="submit"] {
  font-weight: 800;
  background: transparent;
  border: 1px dotted;
  border-radius: 8px;
}

button:hover, input[type="submit"]:hover {
  background-color: #6CC7B8;
}

.delete:hover {
  background-color: #B43548;
}

#logout:hover {
  background-color: #B43548;
}

#login:hover {
  background-color: #6CC7B8;
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pop:hover, .pop:focus, .pop:active {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
